
body {
    background-color: #f2f2f2;
    color: #00264d
}

.content {
    max-width: 960px;
    margin: auto;
}

a{
    text-decoration: none;
    color: #ffffff;
    background-color: #b3d9ff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: x-large;
}

a:hover {
    cursor: pointer;
  }

header {
    font-family: Courier New, monospace;
    font-weight: 500;
    color:#ffffff;
    background-color: #b3d9ff;
    width: 100%;
    text-align: center;
    font-style: oblique;
    padding: 1px;
    border-radius: 0.5em;
}

.navbar {
    font-family: Courier New, monospace;
    font-weight: 100;
    color:#ffffff;
    width: 100%;
    margin-bottom: 15px, solid, #66b5ff;
    
}

.container{
    font-family: Verdana, sans-serif;
    color: #001a33;
}

.postHeader{
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    background-color: aliceblue;
}

.responsive {
    max-width: 100%;
    height: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 0.5em;
}

.comment{
    background-color: white;
    border-radius: 0.5em;
    padding: 3px;
}

p{
    margin-left: 3%;
}

.date{
    margin-right: 2%;
    color: hsl(209, 75%, 20%);
}

.buttonContainer{
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.likeDislikeButton{
    text-align: center;
    color: #339cff;
}

.button{
    background-color: #339cff;
    font-size: normal;
    font-weight: 500;
    color: white;
    width: 125;
    padding: 5%;
    border-radius: 025em;
    border-style: none;
}

footer{
    display: flex;
    justify-content: center;
}

.postButton  {
position: fixed;
right: 0;
top: 50%;
}
